# config/runtime.cfg
# Namespacing: <module_name>_<flag_concept>=
# This file will be handled by each module handler script(per module).
# What different run-time behavior will be useful? 
# 1.) Logging
# 2.) 
DEBUG_MODE=1


##############################
##############################
####### UNIT TESTING #########
##############################
##############################
unit_testing_LOG=true


############################## 
##############################
##############################
##############################
##############################















unit_testing=1
