Definitions:

1.) ROIT: return on invested time.

2.) SRP: Single Responsibility Principle

3.) DRY: Don't Repeat yourself

4.) Active code generators: are used each time their results are required. The result is a throw-away—it can
always be reproduced by the code generator. Often, active code generators read some form of script or
control file to produce their results

5.) Single_source_of_truth:
The practice of structuring information models and associated data schemas such that every data element is mastered (or edited) in only one place.




**************************************
**************************************


Purpose of project:
To make it easy go from prototyping/experiementing on a software project, to development(and vice-versa) easily. I will be using Git for version control. 
Learning Outcomes: I want to learn more about the CLI(and other tools to maximize code quality), the bash language, and how scripts that are being used (such as prototype_manager2.sh) helps accomplish this.

Project requirements:
The script must make obvious the invariants, post-conditions, pre-conditions, and assumptions.
Testing of major features must occur.


**************************************
*********GOALS*******************
**************************************
The script goals are:
 1.) maximize SRP
 2.) maximize orthogonality, 
 3.) maximize maintainability,
 4.) maximize DRY principle
 5.) Maximize ease of use
 6.) MAXIMIZE IMMUTABILITY
 7.) MAXIMIZE USE OF PURE FUNCTIONS
 8.) Maximize reusability of components
 9.) Minimize use of global variables
10.) maximize use of flat files and single source of 

**************************************
**************************************
**************************************


 The script must validate user input(or delegate to another script). 

The current project scripts/files that are needed in the project are: prototype_manager2.sh, envManager.sh and prototypeManager.env, repoCloning.sh, pathmaster.sh.



Sequence of script interaction assuming that the user has entered in a command for cloning:
Example:
CLI input: ./prototype_Manager2.sh clone

prototype_Manager2.sh -> envManager -> repoCloning


**************************************
**************************************
**************************************


BASH SPECIFIC INSTRUCTIONS:
 In Bash, we can create pure functions by ensuring that they only use input parameters and local variables, without modifying the global state or relying on external dependencies.

 Immutability means that data cannot be modified once it is created. In Bash, this can be achieved by avoiding direct modifications of existing variables and instead favoring the creation of new variables during transformations. It remains the responsibility of the developer to enforce immutability.

In Bash, the local keyword is commonly used to declare a local variable within a function. This is a common practice in functional programming to avoid side effects and maintain data encapsulation. The -r option can be used to define an immutable variable, which is essentially a constant.

**************************************
**************************************
**************************************

**NOTE: Some or all of the files may not be correct or require re-factoring.
**NOTE: Assume that there is at-least one problem to overcome.
 







